ABYSSAL_BIND_ADDR=0.0.0.0:4020
ABYSSAL_NODE_ID=oracle-ampere-1
ABYSSAL_CODE_COUNT=8
ABYSSAL_ADMIN_CODE_COUNT=1
ABYSSAL_CODE_MIN_LEN=12
ABYSSAL_CODE_MAX_LEN=20
RUST_LOG=mirage_server=info,tower_http=info
